<%= form_for tidbit, html: { class: 'form-horizontal'} do |f| %>

  <div class="form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :tidbit_type, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.select :tidbit_type, Tidbit::TYPES.map{ |tt| [ tt.titleize, tt ] }, selected: tidbit.tidbit_type, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_area :content, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :more_info, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :more_info, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :more_info_link, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :more_info_link, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
