<footer class='footer navbar-inverse navbar-static-bottom'>
  <div class='container'>
    <div class='row'>

      <div class='col-md-8 col-sm-9 col-xs-7'>
        <span class='navbar-text'>
          Contact:
          <%= my_email %>
        </span>

        <span class='navbar-text'>
          <ul class='list-unstyled list-inline social nobr'>
            Connect:
            <li>
              <a href='https://github.com/katie7r' target='_blank' class='btn btn-k7r btn-xs btn-icon'>
                <%= icon('soc-gh', 'GitHub') %>
              </a>
            </li>

            <li>
              <a href='https://twitter.com/katie_k7r' target='_blank' class='btn btn-k7r btn-xs btn-icon'>
                <%= icon('soc-tw', 'Twitter') %>
              </a>
            </li>

            <li>
              <a href='https://www.linkedin.com/pub/kathleen-russ/b1/377/49a' target='_blank' class='btn btn-k7r btn-xs btn-icon'>
                <%= icon('soc-li', 'LinkedIn') %>
              </a>
            </li>
          </ul>
        </span>
      </div>

      <div class='col-md-2 col-sm-3 col-xs-5'>
        <span class='navbar-text navbar-right'>
          &copy; 2015 Katie Russ
        </span>
      </div>

      <div class='col-md-2 col-sm-3 col-xs-5'>
        <span class='navbar-text text-muted navbar-right'>
          <a href='#top'><%= icon('up-small', 'Up Arrow') %>Back to Top</a>
        </span>
      </div>
    </div>

    <%= link_to icon('lock-filled', 'Open Lock'), new_admin_session_path, class: 'secret-tunnel' unless current_admin %>
  </div>
</footer>
