<a href='#main-content' class='sr-only sr-only-focusable'>Skip to main content</a>

<nav class='navbar navbar-inverse navbar-static-top' id='top'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <span class='k7r'>
        <%= link_to root_path, class: "navbar-brand#{' active' if home?}" do %>
        katie<span class='k7r-mark'>r</span>.codes<%= sr('(current)') if home? %>
        <% end %>
      </span>
    </div>

    <div id='navbar' class='collapse navbar-collapse navbar-right'>
      <ul class='nav navbar-nav'>
        <li class='<%= 'active' if about? %>'>
          <%= link_to my_bio_path do %>Bio<%= sr('(current)') if about? %><% end %>
        </li>
        <li class='<%= 'active' if portfolio? %>'>
          <%= link_to my_work_path do %>Work<%= sr('(current)') if portfolio? %><% end %>
        </li>
        <li class='<%= 'active' if tidbits? %>'>
          <%= link_to tidbits_path do %>Tidbits<%= sr('(current)') if tidbits? %><% end %>
        </li>
        <% if current_admin %>
          <li class='dropdown'><%= render 'layouts/admin_nav' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
